# shared
PUID=1000
PGID=1000
TZ=Etc/UTC

# locations
DOWNLOADS_PATH=<downloads location>
MOVIES_PATH=<movies location>
TV_PATH=<tv location>

# Gluetun
VPN_SERVICE_PROVIDER=<provider name>
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=<private key>
PORT_FORWARD_ONLY=<on | off>

# qbittorrent
WEBUI_PORT=9091

# qbittorrent-natmap
QBITTORRENT_SERVER=127.0.0.1
QBITTORRENT_PORT=9091
QBITTORRENT_USER=<username>
QBITTORRENT_PASS=<password>

# homarr
SECRET_ENCRYPTION_KEY=f803049516841202c8ecaf79bb8c33c99f351dc9eb93fd882a5cdbfdd8bd800e

# pihole
PIHOLE_ADMIN_PASSWORD=<pihole admin password>
